@import 'vars';

#platform {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: $color-text;

  background: url('./background.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: $color-background;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

nav {
  background-color: $color-light;
  width: max-content;
  padding: 2rem;
  flex: 1;

  > ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: max-content;
    height: 100%;
    li {
      width: 100%;
      > button {
        width: 100%;
        text-align: left;
      }
    }
  }
}

// Smaller than 1024px
@media (max-width: 1024px) {
  #platform {
    padding: 0;
  }
}
