@import 'vars';

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
  background-color: transparent;
  pointer-events: none;

  &.popup-container--active {
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: all;
  }

  &.popup-container--opaque {
    background-color: rgba(0, 0, 0, 1);
    transition: none;
  }
}

.popup {
  background-color: $color-background;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 0px;
  min-width: 40rem;
  max-width: 64rem;
  max-height: 96vh;
  margin: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .popup__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid $color-light;
  }

  .popup__content {
    padding: 2rem;
    overflow-y: auto;
    flex: 1;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .popup__footer {
    padding: 2rem;
    border-top: 1px solid $color-light;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.popup--debug {
  max-width: 96rem;
  .popup__content > pre {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: monospace;
    overflow-x: auto;
    background: $color-dark;
    color: $color-light;
    padding: 2rem;
    border-left: 8px solid $color-red;
  }
}

@media (max-width: 1024px) {
  .popup {
    margin: 0;
    min-width: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0;
  }
}
