#terminal {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;

  button.terminal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }

  .terminal__body {
    width: 100%;
    flex: 1;
    padding: 2rem;
    font-family: monospace;
    font-size: 1.5rem;
    overflow: auto;

    ul {
      display: flex;
      flex-direction: column;
      li {
        line-height: 1.6;
      }
    }
  }
}
