$font-primary: Georgia, serif;

$color-dark: #725256;
$color-medium: #c7a69f;
$color-light: #f2dad5;
$color-background: #fbf9f5;
$color-text: #776849;

$color-yellow: #fdd908;
$color-green: #9fcf51;
$color-red: #fe6e56;
$color-blue: #94d2eb;
